:root {
    --blanco: #fff;
    --negro: #000;
    --gris: #D5D8DC;
}

.fuente {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fuentePequeña {
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 2rem;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    line-height: 2;
    background: rgb(194,194,194);
    background: linear-gradient(0deg, rgba(194,194,194,1) 0%, rgba(255,255,255,1) 50%, rgba(194,194,194,1) 100%);
}

img {
    max-width: 100%;
}

/** GLOBALES **/

.contenedor {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

.trabajos__contenedor {
    max-width: 40%;
    height: 90%;
    margin: 5rem auto;
    border: .6rem solid;
    align-content: center;
}

a {
    text-decoration: none;
}

h3 {
    font-size: 3.2rem;
    font-family: "Raleway", sans-serif;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

/** Utilidades **/

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.centrar-texto {
    text-align: center;
}

$size-sm: 480px;

$size-md: 768px;

$size-lg: 1200px;

/** HEADER **/

.header {
    background-image: url(../IMG/woman-1869208_1280.jpg);
    height: 45rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: auto 20rem;
    position: relative;
}

@media (max-width: 768px) {
    .header {
        background-position: right;
    }
}

.barra {
    padding-top: 4rem;
}

@media only screen and (min-width: $size-md) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: .1rem;
    }
}

@media (min-width: 768px) {
    .logo {
    width: 20%;
    }
}

.logo {
    width: 100%;
}

.navegacion {
    flex-direction: column;
    flex-direction: row;
    margin-bottom: 12rem;

    .navegacion__link {
        color: var(--blanco);
        text-align: center;
        font-size: 1.8rem;
    }
}

@media (min-width: 768px) {
    .navegacion {
        display: flex;
        gap: 2rem;
    }
}

.boton {
    display: flex;
    font-family: "Raleway", sans-serif;
    color: var(--blanco);
    text-align: center;
    padding: .3rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    display: inline-block;
    transition: 0.3s;
}

.boton:hover {
    cursor: pointer;
    font-size: 2.2rem;
    color: var(--blanco);
    background-color: gray;
}

.boton__principal {
    background-color: var(--negro);
    margin-bottom: 2rem;
}

.contenido-principal {
        margin-top: 5rem;
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
        border-bottom: 6px solid var(--gris);
}

@media only screen and (max-width: $size-md) {
    .contenido-principal {
        display: block;
    }
}

.articulo {
    border-bottom: .4rem solid var(--gris);
    margin-bottom: 2rem;

    .articulo__imagen {
        width: 50%;
    }

    .articulo__texto {
        h3 {
            margin-top: 1rem;
            margin-bottom: 0;
        }
    }

    .articulo:last-of-type {
        border-bottom: none;
    }
}

// TESTIMONIAL

.testis {
    margin: 16rem auto;

    h3 {
        text-align: center;
    }

    .testi{
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            text-align: center;
            line-height: 1.5;
            font-size: 2.5rem;
        }

        .icono-testi1, .icono-testi2, .icono-testi3 {
            height: 15rem;
            width: 15rem;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: auto 20rem;
            position: relative;
            //background-color: var(--negro);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .icono-testi1 {
            background-image: url(../IMG/testi1.jpg);
        }

        .icono-testi2 {
            background-image: url(../IMG/testi2.jpg);
        }

        .icono-testi3 {
            background-image: url(../IMG/testi3.jpg);
        }
    }
}

@media only screen and (max-width: 768px) {
    .testis {
        margin: 4rem auto;
    }
}

// FOOTER

.footer{
    background-color: var(--negro);

    img {
        margin-left: 12rem;
    }

    @media only screen and (max-width: $size-md) {
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 80%;
        }
    }
}

.copy {
    text-align: center;
    color: var(--blanco);
    margin: 0;
    padding-bottom: 1rem;
}

// Sobre Mi

.sobreMi {
    display: block;
    gap: 2rem;
    margin: 10rem auto;

    @media only screen and (max-width: $size-md) {
        display: block;
    }

    .sobreMi__foto {
        background-image: url(../IMG/sobremi.jpg);
        height: 40rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: auto 20rem;
        position: relative;
    }

    .sobreMi__texto {
        margin: 2rem;
        font-size: 2.5rem;

        @media only screen and (max-width: $size-md) {
            font-size: 1.6rem;
        }
    }
}

// Trabajos

.trabajos-contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 8rem 5%;
    gap: 4rem;

    .item1 {
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .item2 {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .item3 {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .item4 {
        grid-column: 1/3;
        grid-row: 3/4;
    }

    .item2, .item3 {
        .trabajos__foto {
            display: block;
            width: 60%;
            min-width: 20%;
            margin: 1rem auto;
        }
    }

    .contenedor1, .contenedor2 {
        display: flex;
        margin: 1rem;
    }

    @media only screen and (max-width: $size-md) {
        .contenedor1, .contenedor2 {
            display: block;
        }
    }   

    @media only screen and (max-width: $size-md) {
        .item1, .item4, .item3, .item4 {
            .trabajos__foto {
                display: block;
                width: 60%;
                min-width: 20%;
                margin: 1rem auto;
            }
        }
    }

    .borde {
        border: .1rem solid gray;

        @media only screen and (max-width: $size-md) {
            margin: 2rem auto;
        }
    }
    
    .sombra {
        box-shadow: 5px 5px 15px gray;
    }


    h2 {
        margin: .5rem;
        font-size: 3rem;
    }

    p {
        font-size: 2rem;
    }

    .trabajos__texto {
        margin: .5rem;
    }
}

@media only screen and (max-width: $size-md) {
    .trabajos-contenedor {
        margin: 1rem;
        display: block;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

// Contacto

.contactoBG {
    background-image: url(../IMG/girl-2120196_1920.jpg);
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.formulario {
    background: rgb(231, 231, 231);
    margin: -5rem auto 2rem auto;
    width: 95%;
    padding: 5rem;

    .campo {
        display: flex;
        margin-bottom: 2rem;
        gap: 2rem;

        .campo__label {
            flex: 0 0 9rem;
            text-align: right;
        }

        .campo__field {
            flex: 1;
            border: 1px solid gray;
        }

        .campo__field--textarea {
            height: 20rem;
        }
    }
}   

@media only screen and (max-width: $size-md) {
    .formulario {
        padding: 1rem;
    }
}